html {
  /* ### Primary */
  --Blue: hsl(223, 87%, 63%);

  /* ### Secondary */
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);

  /* ### Neutral */
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}

body {
  margin: 0;
  /* background-image: url("./design/mobile-design.jpg"); */
  /* background-image: url("./design/mobile-error-state.jpg"); */
  /* background-size: cover; */
  font-family: "LibreFranklin", sans-serif;
}

/* @media (min-width: 800px) {
  body {
    background-image: url("./design/desktop-design.jpg");
    background-image: url("./design/desktop-hover-error-states.jpg");
    background-size: cover;
  }
} */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "LibreFranklin";
  font-weight: 300;
  src: url("./fonts/LibreFranklin-Light.ttf") format("truetype");
}

@font-face {
  font-family: "LibreFranklin";
  font-weight: 300;
  font-style: italic;
  src: url("./fonts/LibreFranklin-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "LibreFranklin";
  font-weight: 600;
  src: url("./fonts/LibreFranklin-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "LibreFranklin";
  font-weight: 700;
  src: url("./fonts/LibreFranklin-Bold.ttf") format("truetype");
}
